<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <section name="GeneralSettings" type="SAP.Middleware.Connector.RfcGeneralConfiguration, sapnco" />

      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>

      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="SAP.Middleware.Connector.RfcServerConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="testQuery" value=""/>
    <add key="testUserGroup" value=""/>
  </appSettings>

  <SAP.Middleware.Connector>
    <GeneralSettings defaultTraceLevel="1" traceDir="C:\Temp" traceEncoding="UTF-8" traceType="PROCESS" />

    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="DIALOG_LOGIN" USER="MY_USER" PASSWD="MY_PASSWORD" CLIENT="100" LANG="EN" ASHOST="MY_ASHOST" SYSNR="MY_SYSNR" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
          <add NAME="SILENT_LOGIN" USER="MY_USER" PASSWD="MY_PASSWORD" CLIENT="100" LANG="EN" MSHOST="MY_MSHOST" SYSID="MY_SYSID" GROUP="PUBLIC" MAX_POOL_SIZE="10"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>

    <ServerSettings>
      <ServerConfiguration>
        <servers>
          <add NAME="NCO_SERVER" GWHOST="MY_GWHOST" GWSERV="MY_SAPGW" PROGRAM_ID="nRfcTestServer" REPOSITORY_DESTINATION="NCO_TESTS" REG_COUNT="1"/>
        </servers>
      </ServerConfiguration>
    </ServerSettings>
    
  </SAP.Middleware.Connector>
</configuration>
